In [1]:
import pandas as pd

In [21]:
MATERIAL_FILE_PATH = r'..\data\ingredients.csv'
INSTRUCTION_MATERIAL_FILE_PATH = r'..\data\posts_ingredients.csv'

In [41]:
ins_mat_df = pd.read_csv(INSTRUCTION_MATERIAL_FILE_PATH)
ins_mat_df.head()

        id post_id ingredient_id
0  PM03279  P83810        M14593
1  PM36049  P83810        M97197
2  PM29257  P83810        M32099
3  PM96531  P83810        M18290
4  PM88697  P83810        M13435

In [5]:
material_df = pd.read_csv(MATERIAL_FILE_PATH)
material_df.head()

       id          ingredient           created_at
0  M14593  packaging material  15-05-2023 23:59:20
1  M97197          thermocoal  15-05-2023 23:59:20
2  M32099              paints  15-05-2023 23:59:20
3  M18290               brush  15-05-2023 23:59:20
4  M13435           dry leafs  15-05-2023 23:59:20

In [11]:
duplicated_entry = material_df[material_df.ingredient.duplicated()]
duplicated_entry

         id    ingredient           created_at
47   M60590        cutter  16-05-2023 00:00:49
92   M70698       plastic  16-05-2023 00:04:19
112  M85181      pvc pipe  16-05-2023 00:05:05
124  M43310        switch  16-05-2023 00:05:05
130  M75526      pvc pipe  16-05-2023 00:05:05
..      ...           ...                  ...
676  M97974         glass  16-05-2023 03:34:47
678  M17323      scissors  16-05-2023 03:34:47
679  M47954        cutter  16-05-2023 03:34:47
681  M21568        marker  16-05-2023 03:34:47
693  M88189  plastic bags  16-05-2023 03:36:12

[106 rows x 3 columns]

In [42]:
duplicated_materials = duplicated_entry['ingredient'].unique()
# loop over the duplicated material name
for material in duplicated_materials:
    # get the original id of the duplicated material, hence index 0
    material_id = material_df[material_df['ingredient'] == material]['id'].values[0]
    # loop over the id of all duplicated material occurrences that matches current material
    for duplicated_material_id in duplicated_entry[duplicated_entry['ingredient'] == material]['id'].values:
        # change value to original id where ingredient_id is equal to current material id
        ins_mat_df['ingredient_id'].mask(ins_mat_df['ingredient_id'] == duplicated_material_id, material_id, inplace=True)
        # ins_mat_df[ins_mat_df['ingredient_id'] == duplicated_material_id].loc[:, 'ingredient_id'] = material_id

Lets check some entry, where before fix the value should be `M47954`. Now it has gone, because it changed

In [44]:
ins_mat_df[ins_mat_df['ingredient_id'] == 'M47954']

Empty DataFrame
Columns: [id, post_id, ingredient_id]
Index: []

Lets drop duplicates in original material df

In [46]:
temp_df = material_df.drop_duplicates(subset='ingredient')
temp_df

         id          ingredient           created_at
0    M14593  packaging material  15-05-2023 23:59:20
1    M97197          thermocoal  15-05-2023 23:59:20
2    M32099              paints  15-05-2023 23:59:20
3    M18290               brush  15-05-2023 23:59:20
4    M13435           dry leafs  15-05-2023 23:59:20
..      ...                 ...                  ...
690  M01825   recyclable fibres  16-05-2023 03:36:12
691  M70330            clothing  16-05-2023 03:36:12
692  M59610  biodegradable bags  16-05-2023 03:36:12
694  M88126       plastic forks  16-05-2023 03:36:12
695  M76620      plastic knives  16-05-2023 03:36:12

[590 rows x 3 columns]

Check the id of the duplicated material before. For sanity check

In [47]:
temp_df[temp_df['id'] == 'M60590']

Empty DataFrame
Columns: [id, ingredient, created_at]
Index: []

Drop the duplicates, this time use inplace=True

In [48]:
material_df.drop_duplicates(subset='ingredient', inplace=True)

Export both fixed datafranes

In [51]:
material_df.to_csv(MATERIAL_FILE_PATH, index=False)
ins_mat_df.to_csv(INSTRUCTION_MATERIAL_FILE_PATH, index=False)